
RewriteEngine on
RewriteCond %{HTTP_HOST} ^blog\.mdshariful\.info$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.mdshariful\.info$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/blog\.mdshariful\.info" [R=301,L]

